.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  position: relative;
  span {
    height: 2px;
    width: 20px;
    display: block;
    background-color: #ffffff;
    border-radius: 5px;
    transition: ease 0.5s;
  }
}

.menu-icon-button {
  position: fixed;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  background-color: #0ba376;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  z-index: 10000;
}
.menu-icon-button span {
  position: absolute;
  height: 2px;
  width: 20px;
  display: block;
  background-color: #ffffff;
  margin-top: 3px;
  border-radius: 5px;
  transition: ease 0.5s;
}

.first-bar {
  top: 12px;
}

.second-bar {
  top: 17px;
}

.third-bar {
  top: 22px;
}

.menu-icon-button.active .first-bar {
  transform: rotate(45deg);
  top: 20px;
}

.menu-icon-button.active .second-bar {
  opacity: 0;
}

.menu-icon-button.active .third-bar {
  transform: rotate(-45deg);
  top: 20px;
}
