.container {
  .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 32px;
    padding-bottom: 2rem;
  }
  .bottom {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 990px) {
  .container {
    .grid {
      grid-template-columns: auto auto;
    }
  }
}

@media (max-width: 660px) {
  .container {
    .grid {
      grid-template-columns: 1fr;
    }
  }
}
